[client]
default-character-set = utf8

port                  = 3306
socket                = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice   = 0

[mysqld]
character-set-server   = utf8
collation-server       = utf8_general_ci
character_set_server   = utf8
collation_server       = utf8_general_ci

skip-host-cache
skip-name-resolve

pid-file                        = /var/run/mysqld/mysqld.pid
socket                          = /var/run/mysqld/mysqld.sock
datadir                         = /var/lib/mysql
#log-error                       = /var/log/mysql/error.log

# By default we only accept connections from localhost
#bind-address                    = 0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links                  = 0

skip-external-locking
explicit_defaults_for_timestamp
log_bin_trust_function_creators

sql_mode                        = NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER
optimizer_search_depth          = 0

performance_schema              = 1
event_scheduler                 = 1

key_buffer_size                 = 16M
max_allowed_packet              = 64M
thread_stack                    = 192K
thread_cache_size               = 8
query_cache_type                = 1
query_cache_limit               = 1M
query_cache_size                = 128M
join_buffer_size                = 4M
read_buffer_size                = 1M
sort_buffer_size                = 2M
tmp_table_size                  = 32M
max_heap_table_size             = 32M

concurrent_insert               = 1
innodb_buffer_pool_size         = 512M
innodb_log_file_size            = 64M
innodb_flush_log_at_trx_commit  = 2
innodb_doublewrite              = 0
innodb_thread_concurrency       = 8
innodb_flush_method             = O_DIRECT
innodb_lock_wait_timeout        = 2
innodb_rollback_on_timeout      = 1
#transaction-isolation           = READ-COMMITTED
innodb_file_per_table
innodb_temp_data_file_path      = ibtmp1:12M:autoextend:max:2000M

slow_query_log                  = OFF
long_query_time                 = 2
#log-queries-not-using-indexes

general_log                     = OFF
general_log_file                = /var/log/mysql/mysql.log

[mysqldump]
quick
quote-names
max_allowed_packet              = 16M

[isamchk]
key_buffer_size                 = 16M
